/* Estilos Gerais */

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

.btn {
    border: 4px solid #fec63e;
    padding: 10px 25px;
    color: #fec63e;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover {
    color: #fff;
    border-color: #fff;
}

/* Header */

.header{
    position: fixed;
    top: 0;
    width: 100%;
    background: #fec63e;
    padding: 15px 0;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header_menu ul li a:hover{
    color: #fff;
}

/* Introducao */

.introducao {
    width: 100%;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 96px;
    height: 380px;
    text-align: center;
    padding-top: 80px;
}

.introducao h1 {
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #fff;
}

.quote-externo p {
    font-style: italic;
    font-weight: 500;
    line-height: 20px;
}

.quote-externo p:before, .quote-externo p:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 14px auto 10px auto;
}

.quote-externo cite {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}